#
#
# Title:
#  ceor.conf.local
#  CEoR Local Configuration file.
#
# for /usr/bin/what:
#  @(#)CEoR Confguration file.
#

# for degubbing and testing
: ${DEBUG:=0}    # Debug Mode
: ${MOD_TEST:=0} # Module TEST Mode

: ${__NODECONF:="${HOME}/NodeConfs"}      # Root node

: ${__WORKS:="${__NODECONF}/.wrks"}         # Working Directory
: ${__INFOS:="${__NODECONF}/infos"}         # Target node information data
: ${__CONFS:="${__NODECONF}/confs"}         # Target node configuration files
: ${__BAKCONFS:="${__NODECONF}/bakconfs"}   # Node configuration backup files
: ${__PKGS:="${__NODECONF}/pkgs"}           # Target package configuration files (symlink)

export __NODECONF __WORKS __INFOS __CONFS __BAKCONFS __PKGS

# for development
: ${CEoRETC:="./ETC"}
: ${CEoRGENINC:="./MODs"}
