#
# ceor.conf:	CEoR System-wide Default Configuration.
#
# for /usr/bin/what:
#  @(#)CEoR Confguration file.
#

# PATH configuration is deduplication and concat
[PATH]		# PATH configurations
BIN    : /usr/local/CEoR/bin
CONFS  : ./.CEoR:~/.CEoR:/usr/local/CEoR/etc
MODULE : /usr/local/CEoR/MODs
RECIPE : /usr/local/CEoR/RCPs

# Other configuration is overwrite
[OTHER]		# Other configurations
SSH    : `which ssh`
SED    : `which sed`
AWK    : `which awk`
GREP   : `which grep`
MKTRMP : `which mktemp`

[OTHER]
SSH_CONFIG : ~/.ssh/config
